<%- include('./partials/head') %>
<%- include('./partials/header') %>
<% if (typeof(newdata) != 'undefined') { %>
    Er ging iets mis hoor, sorry. <%= newdata.error %>
<% } %>

<form method="post" action="/contact">
    <label for="name">Maak een naam <span>(verplicht)</span></label>
    <select id="name" name="websiteId">
        <% website_data.websites.forEach(website=> { %>
            <option value="<%= website.id  %>"><%= website.titel %></option>
        <%})%>
    </select>

    <label for="name">plaats een url <span>(verplicht)</span></label>
    <input id="name" type="url" required name="url">

    <input type="submit" />
</form>

<%- include('./partials/foot') %>