<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <main class="toolboard">
            <div class="intro">
                <h2>Check onze partners</h2>
                <p>Dat moet al of moet binnen 2 jaar! Voor overheden is dit al verplicht. En vanaf 2025 moet iedere
                    nieuwe
                    website en app digitaal toegankelijk zijn.
                </p>
                <a href="#new-card" class="basic-button" id="new-card-button">Check een nieuwe website </a>

            </div>

            <div class="checklist-list">
                <% url_data.urls.forEach(url=> { %>
                    <div class="card">
                        <div>
                            <h4>
                                <%= url.website.titel %>
                            </h4>
                            <a href="<%= url.url %>" class="url" target="_blank">
                                <%= url.url %>
                            </a>

                        </div>
                        <div class="divider">

                            <div class="voortgang">
                                <p>voortgang</p>
                                <p>%</p>
                            </div>
                            <div class="butten-time">
                                <a href="/checklist?id=<%= url.id%>" class="bekijk-pagina">
                                    <svg id="point" data-name="point" class="point" viewBox="0 0 1000 1000">
                                        <path class="cls-1"
                                            d="m86.41,1000c-31.66,0-62.14-17.49-77.26-47.74-21.32-42.63-4.04-94.48,38.6-115.8l672.93-336.47L47.75,163.53C5.1,142.21-12.18,90.37,9.15,47.73S82.3-12.18,124.95,9.13l827.33,413.67c29.24,14.61,47.71,44.51,47.71,77.2s-18.46,62.57-47.71,77.2L124.95,990.86c-12.39,6.19-25.56,9.14-38.53,9.14h-.01Z" />
                                    </svg>
                                </a>
                                <div class="time">
                                    <p>Aangemaakt op:</p>
                                    <p>
                                        <%= url.createdAt.slice(0, 10) %>
                                    </p>
                                    <button id="delete-card-button" class="card-cancel">
                                        <svg id="cross" data-name="cross" class="cross" viewBox="0 0 1000 1000">
                                            <path
                                                d="m979.54,888.52c25.14,25.14,25.14,65.88,0,91.03-12.56,12.56-29.03,18.86-45.5,18.86-16.47,0-32.95-6.28-45.53-18.86l-389.25-389.25L110.02,979.54c-12.58,12.58-29.03,18.86-45.53,18.86-16.47,0-32.95-6.28-45.5-18.86-25.14-25.14-25.14-65.88,0-91.03l389.25-389.25L19,110.02c-25.14-25.14-25.14-65.91,0-91.03,25.14-25.14,65.88-25.14,91.03,0l389.26,389.26L888.53,19.01c25.14-25.14,65.88-25.14,91.03,0,25.13,25.13,25.14,65.88,0,91.03l-389.25,389.25,389.25,389.25h-.01Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <!-- <div id="delete-card" class="delete-card">
                                <p>verwijder <%= url.website.titel %>
                                </p>
                                <button id="confirm-dialog-button" class="basic-button">verwijder</button>
                            </div> -->
                        </div>

                    </div>
                    <%})%>
            </div>
            <div id="new-card" class="new-card">
                <form id="new-card-form" method="post" action="/contact">
                    <% if (typeof(newdata) !='undefined' ) { %>
                        Er ging iets mis hoor, sorry. <%= newdata.error %>
                            <% } %>
                                <div>
                                    <label for="name">Maak een naam <span>(verplicht)</span></label>
                                    <select id="name" name="websiteId">
                                        <% website_data.websites.forEach(website=> { %>
                                            <option value="<%= website.id  %>">
                                                <%= website.titel %>
                                            </option>
                                            <%})%>
                                    </select>
                                </div>
                                <div>
                                    <label for="name">plaats een url <span>(verplicht)</span></label>
                                    <input id="name" type="url" required name="url">
                                </div>
                                <div class="form-last-div">
                                    <input class="basic-button" type="submit">
                                    <button hidden class="basic-button button-dialog" id="close" value="cancel">annuleren</button>
                                </div>
                </form>
            </div>

        </main>

        <%- include('./partials/foot') %>